<div class="container">
    <h1>Lista de funcionários</h1>
    <a href="funcionario" routerLink="/funcionario/create/" class="btn btn-success">Criar Novo Funcionario</a>
    <table class="table table-striped">
        <thead>
              <tr>
                <th>ID</th>
                <th>login</th>
                <th>nome</th>
                <th>cpf</th>
                <th>email</th>
                <th>endereço</th>
                <th width="250px">Ações</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let funcionario of funcionarios">
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.login }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.cpf }}</td>
                <td>{{ funcionario.email }}</td>
                <td>{{ funcionario.endereco }}</td>
                <td>
                  <a href="#" [routerLink]="['/funcionario/', funcionario.id, 'view']" class="btn btn-info">Visializar</a>
                  <a href="#" [routerLink]="['/funcionario/', funcionario.id, 'edit']" class="btn btn-primary">Editar</a>
                  <button type="button" (click)="deleteFuncionario(funcionario.id)" class="btn btn-danger">Excluir</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>