<div class="container">
    <h1>Lista de Empresas</h1>
    <a href="#" routerLink="/empresa/create/" class="btn btn-success">Criar Nova Empresa</a>
    <table class="table table-striped">
        <thead>
              <tr>
                <th>ID</th>
                <th>nome</th>
                <th>cnpj</th>
                <th>endereço</th>
                <th width="250px">Action</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let empresa of empresas">
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.nome }}</td>
                <td>{{ empresa.cnpj }}</td>
                <td>{{ empresa.endereco }}</td>
                <td>
                  <a href="#" [routerLink]="['/empresa/', empresa.id, 'view']" class="btn btn-info">View</a>
                  <a href="#" [routerLink]="['/empresa/', empresa.id, 'edit']" class="btn btn-primary">Edit</a>
                  <button type="button" (click)="deleteEmpresa(empresa.id)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>